* {
   color: white;
}

nav {
   position: fixed;
   top: 0;
   z-index: 100;
}

#menuIcon {
   width: 10%;
}

#dropdownNav {
    background: #2196F3
}

#dropdownNav li {
   border-bottom: solid #ffffff thin;
}

#dropdownNav li>a {
   color: #ffffff;
}

.contents {
   padding-top: 5%;
}

#searchBar {
   width: 20%;
}

.parallax-container {
   height: auto;
   background-size: cover;
 }

.rowShade {
   background: rgba(1,1,1,.2);
   height: 500px;
}

.background {
   background: rgba(1,1,1,.2);
   height: 60vh;
}

#deals img {
   display: inline-block;
   height: 80%;
   width: 80%;
}

#deals div#deal1, div#deal2, div#deal3, div#deal4 {
   min-height: 40%;
}

.section {
   background: #2196F3;
}

.no-margin {
   margin: 0 !important;
}

#date {
   position: fixed;
   top: 0;
   right: 0;
   padding-right: 10px;
}

#zipcode {
   width: 15%;
}

#fakeSite {
   height: 100vh;
   width: 100vw;
}