* {
   color: white;
}

/* body {
   overflow: scroll;
} */

#searchBar {
   width: 20%;
}

.parallax-container {
   height: auto;
   background-size: cover;
 }

/* .container {
   width: 80%; 
   background-image: url("../images/soccerField.jpeg");
   background-size: cover;
} */

.row {
   background: rgba(1,1,1,.2);
   height: 500px;
}

#deals img {
   display: inline-block;
   height: 80%;
   width: 80%;
}

.section {
   background: #2196F3;
}